<html lang="en" version="4">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="./xixi.png">
    <link rel="apple-touch-icon" href="./xixi.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Service Invoice</title>

    <!-- Favicon -->
    <!-- Invoice styling -->
    <link type="text/css" rel="stylesheet" href="css/index.css">
</head>

<body data-new-gr-c-s-check-loaded="14.1054.0" data-gr-ext-installed="">

    <div class="invoice-box">
        <table>
            <tbody>
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="title">
                                        Service Invoice
                                    </td>

                                    <td id="ICD">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="information">
                    <td colspan="2">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        From:<br>
                                        Yilei Ding<br>
                                        6835 SE Cougar Mountian Way<br>
                                        Bellevue, WA 98006
                                    </td>

                                    <td id="BA">

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="heading">
                    <td>Payment Method</td>

                    <td>ID #</td>
                </tr>

                <tr class="details">
                    <td id="PT">
                        payment type
                    </td>

                    <td id="TI">
                        trans id
                    </td>
                </tr>

                <tr class="heading">
                    <td>Service</td>
                    <td>Price</td>
                </tr>

                <tr class="item">

                    <td id="SD"></td>

                    <td id="TT"></td>

                </tr>


                <tr class="total">
                    <td></td>

                    <td id="TTT">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const invoice = urlParams.get('invoice');
        var trip_info;
        $.get('api_trips_get_trip', { trip: invoice }, (data, statu) => {
            console.log(data);
            trip_info = data.trip;
            $('#ICD').html('Invoice #: ' + trip_info.invoice + "<br>Created: " + trip_info.date + '<br>Due: ' + trip_info.date);
            // $('#BA').html('To:<br>' + trip_info.billname || trip_info.name + '<br>' + trip_info.trip_type === 1 ? trip_info.destination_address : trip_info.departure_address + '<br>');
            var s = 'To:<br>' + trip_info.billname || trip_info.name;
            s += '<br>'
            //s += trip_info.bill_address + '<br>'
            // if (trip_info.bill_address.length > 5) {
            //     s += trip_info.bill_address + '<br>'
            // } else {
            //     s += trip_info.trip_type === 1 ? trip_info.destination_address : trip_info.departure_address + '<br>'

            // }
            $('#BA').html(s);
            $('#PT').html(trip_info.payment_type);
            $('#TI').html(trip_info.transID);
            s = "passenger transport<br> From: " + trip_info.departure_address + '<br>To: ' + trip_info.destination_address
            s += '<br>Service on ' + trip_info.date;
            $('#SD').html(s);
            $('#TT').html('$' + trip_info.total);
            $('#TTT').html('$' + trip_info.total);
        })
    </script>

</body>

</html>