<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/copy.js"></script>
</head>

<body>
    <div classname="container">
        <textarea hidden class="summaryTaxtarea">具体费用就是出发地到机场最快路程的距离✖️2加上5，需要minivan的话再加5。然后从Lakemont出发 距离出发地(接机的话是目的地)6 miles以内免接程费，超出部分每miles收0.5接的费用。接送费用目前相同</textarea>
        <div class="row">
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="trip" id="unfinished" value="1" checked>
                    <label class="form-check-label" for="unfinished">
                        未完成预约
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="trip" id="finished" value="0">
                    <label class="form-check-label" for="finished">
                        已完成预约
                    </label>
                </div>
            </div>
            <div class="col">
                <button class="btn btn-primary" type="button" onclick="feeInfo()">复制收费信息</button>
            </div>

        </div>
        <div class="accordion accordion-flush" id="trips">

        </div>

    </div>

    <script>
        var trips = []
        var _triptype=["Airport-Dept","Airport-Arrival","pickup","dropoff"]
        var t = $('#trips');
        axios.get('/gettrips').then((res) => {
            console.log(res.data)
            trips = res.data.trips.sort((a, b) => new Date(a.travletime) - new Date(b.travletime))
            trips.forEach(element => {
                t.append(createtrip(element))
            });
            $('div[name="0"]').hide()
        })
        $('input[name=trip]').change((e) => {
            $('div[class="accordion-item"]').hide()
            $('div[name="' + e.target.value + '"]').show()
        })

        var feeInfo=()=>{
            copyToClipboard('.summaryTaxtarea')
        }

        var createtrip = (data) => {
            var item = $('<div name=' + data.state + ' class="accordion-item">');
            var head = $('<h2 class="accordion-header">');
            var button = $('<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"  aria-expanded="false" >')
            button.attr('data-bs-target', '#' + data.invoice);
            button.attr('aria-controls', data.invoice);
            var btdiv = {}
            if (data.triptype === '0') {
                btdiv = $('<h6>' + data.nickname + ' ' + data.date + " " + data.pickuptime + '</h6>').append($('<span class="badge text-bg-success">' + _triptype[data.triptype] + '</span>'))
            } else {
                btdiv = $('<h6>' + data.nickname + ' ' + data.date + " " + data.pickuptime + '</h6>').append($('<span class="badge text-bg-warning">' + _triptype[data.triptype] + '</span>'))
            }

            button.append(btdiv)
            var coll_div = $('<div class="accordion-collapse collapse">')
            coll_div.attr('id', data.invoice);
            coll_div.attr('data-bs-parent', 'trips')
            item.append(head);
            item.append(coll_div);
            head.append(button);
            var showaddress=data.pickup_address;
            if(data.triptype==="1"){
                showaddress=data.destination
            }
            var info = $('<div class="accordion-body container text-center">');
            var map = $('<a>').attr('href', 'http://maps.google.com/?q=' + showaddress).text(showaddress)
            var type = data.type == 5 ? 'Camry' : 'Sienna'
            info.append($('<div>').text(type));
            if (data.triptype === '1') {
                info.append($('<div>').append($('<a>').attr('href', 'http://google.com/search?q=' + data.flight).text(data.flight)))
            }
            info.append($('<div>').append(map))
            var activeRow = $('<div class="row justify-content-start">')
            activeRow.append($('<div class="col">').append($('<button class="btn btn-warning">编辑订单</button>').click(() => {
                window.location.href = '/edittrip?trip=' + data.invoice
            })));
            activeRow.append($('<div class="col">').append($('<button class="btn btn-warning">完成订单</button>').click(() => {
                axios.get('/finish', { params: { tripid: data.invoice } }).then((res) => {
                    location.reload()
                })
            })))
            activeRow.append($('<div class="col">').append($('<button class="btn btn-warning">复制预约信息</button>').click(() => {
                axios.get('getsummary', { params: { invoice: trip_info.invoice } }).then((res) => {
                    navigator.clipboard.writeText(summary);

                })

            })))
            activeRow.append($('<div class="col">').append($('<button class="btn btn-warning">invoice</button>').click(() => {
                window.location.href = '/?invoice=' + data.invoice
            })))
            info.append(activeRow)
            coll_div.append(info)
            return (item);
        }
    </script>
</body>

</html>