<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trip Info</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/copy.js"></script>
</head>

<body>
  <div class="container">
    <textarea hidden class="summaryTaxtarea">rrrrr</textarea>
    <form id="book" class="g-3 needs-validation" novalidate>
      <div class="row">
        <div class="col  mb-3">
          <div class="form-floating">
            <input type="text" class="form-control" id="name" name="name" required>
            <label for="name" class="form-label">Nickame</label>
          </div>
        </div>
        <div class="col  mb-3">
          <div class="form-floating">
            <input type="text" class="form-control" id="billname" name="billname" required>
            <label for="billname" class="form-label">Billname</label>
          </div>
        </div>
        <div class="col mb-3">
          <div id="filghtdiv" class="form-floating">
            <input type="text" class="form-control" id="flight_num" name="flight_num">
            <label for="flight_num" class="form-label">flight info</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <div class="form-floating">
            <input type="datetime-local" class="form-control" id="datetime" name="datetime" required>
            <label for="datetime" class="form-label">Datetime</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col  mb-3">
          <div class="form-floating">
            <select class="form-select" id="trip_type" aria-label="Trip type">
              <option value="0">Airport-Dept</option>
              <option value="1">Airport-Arrival</option>
              <option value="2">pickup_distance</option>
              <option value="3">dropoff</option>
            </select>
            <label for="trip_type">Trip type</label>
          </div>
        </div>

        <div class="col mb-3">
          <div class="form-floating">
            <select class="form-select" id="cartype" aria-label="Car type">
              <option value="5" selected>Sedan - Camry</option>
              <option value="10">MiniVan - Sienna</option>
            </select>
            <label for="cartype">Car type</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3">
          <div class="input-group">
            <div class="form-floating">
              <input type="address" class="form-control" id="address" name="address" required>
              <label for="address" class="form-label">pickup_distance address</label>
            </div>
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">AP</button>
            <ul class="dropdown-menu">
              <li><button type="button" class="dropdown-item" onclick="ulclick_departure(this)">SEA</button></li>
              <li><button type="button" class="dropdown-item" onclick="ulclick_departure(this)">PAE</button></li>
            </ul>
          </div>

        </div>
        <div class="col-12 mb-3">
          <div class="form-floating">
            <input name="googleaddress" type="address" class="form-control" id="googleaddress" name="googleaddress"
              readonly required>
            <label for="googleaddress" class="form-label">Address(google)</label>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-auto mb-3"><button type="button" class="btn btn-outline-dark"
            onclick="switch_address()">switch</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3 ">
          <div class="input-group">
            <div class="form-floating">
              <input type="address" class="form-control" id="destination_address" name="destination_address" required>
              <label for="destination_address" class="form-label">destination_address address</label>
            </div>
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">AP</button>
            <ul class="dropdown-menu">
              <li><button type="button" class="dropdown-item" onclick="ulclick_destination(this)">SEA</button></li>
              <li><button type="button" class="dropdown-item" onclick="ulclick_destination(this)">PAE</button></li>
            </ul>
          </div>

        </div>
        <div class="col-12 mb-3">
          <div class="form-floating">
            <input type="address" class="form-control" id="googledestination" name="googledestination" readonly
              required>
            <label for="googledestination" class="form-label">destination_address address(google)</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3 d-grid gap-2"><button type="button" class="btn btn-primary"
            onclick="get_dis()">Calculate</button>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mb-3">
          <div class="form-floating">
            <input type="number" class="form-control" id="distance" value="0" name="distance" required>
            <label for="distance" class="form-label">Distance</label>
          </div>
        </div>
        <div class="col mb-3">
          <div class="form-floating">
            <input type="number" class="form-control" id="pickup_distance" value="0" name="pickup_distance" required>
            <label for="pickup_distance" class="form-label"> pickup_distance-distance</label>
          </div>
        </div>
        <div class="col-3 mb-3">
          <div class="form-floating">
            <input type="text" class="form-control" id="price" name="price" required>
            <label for="price" class="form-label">Price</label>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" id="message" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            显示汇总
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 id="statuMessage" class="modal-title fs-5" id="exampleModalLabel">预约状况</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <h5>预约信息:</h5>
                    <p id="summaryP"></p>
                  </div>
                  <div class="row">
                    <h5>收据链接:</h5>
                    <a id="invoiceA">
                      <p id="invoiceP"></p>
                    </a>
                  </div>
                  <div class="row">
                    <h5>联系方式:</h5>
                    <p>Yilei Ding <br> 4254998842</p>
                  </div>
                  <div class="row">
                    <h5>支付方式:</h5>
                    <p>PayPal Venmo Zelle Cash</p>
                  </div>
                </div>
                <div class="modal-footer">

                  <button type="button" class="btn btn-primary" onclick="copysummary()">复制预约信息</button>

                  <a href="/trips" class="btn btn-primary">前往预约汇总</a>

                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </form>

  </div>

  <script>
    (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          } else {
            event.preventDefault();
            sendData();
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()

    //console.log(window.isSecureContext);

    // if (window.isSecureContext) {
    //   alert(
    //     'The context is secure, can use navigator.clipboard',
    //   );
    // } else {
    //   alert('The context is NOT secure');
    // }

    var xx = () => {
      var s1 = "预约信息:\n" + $('#summaryP').text() + '\n\n'
      var s2 = "收据链接:\n" + $('#invoiceP').text() + '\n\n'
      var s3 = "联系方式:\n" + "Yilei Ding\n4254998842\n\n"
      var s4 = "支付方式:\nPayPal Venmo Zelle Cash\n完成行程后支付即可，不需要定金。有任何变更请及时联系"
      var s = s1 + s2 + s3 + s4;
      copyToClipboard(s);
    }



    const urlParams = new URLSearchParams(window.location.search);
    const trip = urlParams.get('trip');
    var summary = "";
    var api_url = 'book'
    var trip_info = {}
    var flight_num = $('#flight_num');
    var _name = $('#name');
    var billname = $('#billname');
    var departure_address = $('#address');
    var googleaddress = $('#googleaddress');
    var destination_address = $('#destination_address');
    var googledestination = $('#googledestination');
    var distance = $('#distance');
    var pickup_distance = $('#pickup_distance');
    var datetime = $('#datetime');
    var price = $('#price')
    var cartype = $('#cartype');
    var trip_type = $('#trip_type')
    var summaryBtn = $('#summaryBtn')
    var invoiceLink = ""
    var dis_price = 2;
    var pickup_distance_price = 0.5;
    var pickup_distance_free = 6;
    var form = document.querySelector("#book")
    var messagebtn = $('#message')
    var maplink = 'http://maps.google.com/?q=';


    var getprice = () => {
      var _total = 0;
      var pickup_total = pickup_distance.val() - pickup_distance_free
      _total = dis_price * distance.val() + (pickup_total > 0 ? pickup_total : 0) * pickup_distance_price + parseInt(cartype.val());
      price.val(_total)
    }


    distance.keyup(getprice);
    pickup_distance.keyup(getprice);
    cartype.change(getprice);
    trip_type.change(function (e) {
      if (e.target.value == 'dropoff' || e.target.value == "0") {
        $('#filghtdiv').hide();
      } else {
        $('#filghtdiv').show();
      }
    })

    var ulclick_destination = (e) => {
      console.log(e.firstChild.data)
      if (e.firstChild.data === 'SEA') {
        destination_address.val('17801 International Blvd, Seattle, WA 98158')
      } else {
        destination_address.val('3220 100th St SW, Everett, WA 98204')
      }
      trip_type.val("0").trigger("change");
    }
    var ulclick_departure = (e) => {
      console.log(e.firstChild.data)
      if (e.firstChild.data === 'SEA') {
        departure_address.val('17801 International Blvd, Seattle, WA 98158')
      } else {
        departure_address.val('3220 100th St SW, Everett, WA 98204')
      }
      trip_type.val("1").trigger("change");
    }

    if (trip !== null) {
      api_url = 'edit'
      axios.get('/gettrip', { params: { trip: trip } }).then((res) => {
        var data = res.data.trip
        flight_num.val(data.flight_num);
        _name.val(data.nickname);
        billname.val(data.billname)
        departure_address.val(data.departure_address);
        googleaddress.val(data.departure_address);
        distance.val(data.distance);
        pickup_distance.val(data.pickup_distance);
        var t = (new Date(data.datetime + ' UTC')).toISOString().substring(0, 16)
        datetime.val(t);
        price.val(data.total);
        cartype.val(data.type)
        trip_type.val(data.trip_type)
        destination_address.val(data.destination_address)
        googledestination.val(data.destination_address)
        trip_info = data;
        date = new Date(data.datetime)
        summary = res.data.summary
        makesummary();
        invoiceLink = 'https://' + window.location.host + '/?invoice=' + trip_info.invoice
        $('#invoiceP').text(invoiceLink)
        $('#invoiceA').attr('href', invoiceLink)

        if (trip_type.val() === 'dropoff')
          $('#filghtdiv').hide()
      })
    } else {

      if (trip_type.val() === 'dropoff')
        $('#filghtdiv').hide()
    }



    var copysummary = () => {
      var s1 = "预约信息:\n" + $('#summaryP').text() + '\n\n'
      var s2 = "收据链接:\n" + $('#invoiceP').text() + '\n\n'
      var s3 = "联系方式:\n" + "Yilei Ding\n4254998842\n\n"
      var s4 = "支付方式:\nPayPal Venmo Zelle Cash\n完成行程后支付即可，不需要定金。有任何变更请及时联系"
      var s = s1 + s2 + s3 + s4;
      copyToClipboard(s);
    }


    var makesummary = () => {
      $('.summaryTaxtarea').text(summary)
      $('#summaryP').text(summary)
      summaryBtn.prop('disabled', false)
    }

    var getsummary = () => {
      axios.get('getsummary', { params: { invoice: trip_info.invoice } }).then((res) => {
        summary = res.data.summary;
        makesummary();
      })
    }

    var sendData = () => {
      trip_info.departure_address = googleaddress.val();
      trip_info.distance = distance.val();
      trip_info.pickup_distance = pickup_distance.val();
      trip_info.dis_price = dis_price;
      trip_info.pickup_distance_price = pickup_distance_price;
      trip_info.pickup_distance_free = pickup_distance_free;
      trip_info.type = cartype.val();
      trip_info.total = price.val();
      trip_info.trip_type = trip_type.val();
      trip_info.datetime = (new Date(datetime.val())).toLocaleString({ timestyle: 'short', hour12: false });
      trip_info.flight_num = flight_num.val();
      trip_info.billname = billname.val();
      trip_info.nickname = _name.val();
      trip_info.destination_address = googledestination.val();
      axios.get(api_url, {
        params: trip_info
      }
      ).then((res) => {
        console.log(res)
        trip_info = res.data.trip;
        if (res.data.statu === 'done') {
          summary = res.data.summary
          makesummary();
          invoiceLink = 'https://' + window.location.host + '/?invoice=' + trip_info.invoice
          $('#invoiceP').text(invoiceLink)
          $('#invoiceA').attr('href', invoiceLink)
          messagebtn.click();
        }
      })
    }
    function get_dis() {
      axios.get('/price', { params: { start: departure_address.val(), end: destination_address.val(), type: trip_type.val() } }).then((res) => {
        googleaddress.val(res.data.address1.address)
        distance.val(res.data.dropoff_dis);
        departure_address.val(res.data.address1.address);
        pickup_distance.val(res.data.pickup_dis)
        googledestination.val(res.data.address2.address)
        destination_address.val(res.data.address2.address)
        getprice();
      })
    }

    var switch_address = () => {
      var a = departure_address.val();
      var b = googleaddress.val();
      departure_address.val(destination_address.val())
      googleaddress.val(googledestination.val())
      destination_address.val(a);
      googledestination.val(b)
    }

  </script>
</body>

</html>