<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/copy.js"></script>
</head>

<body>
  <div class="container">
    <textarea hidden class="summaryTaxtarea"></textarea>
    <form id="book" class="g-3 needs-validation" novalidate>
      <div class="row mb-3">
        <div class="col mb-3">
          <label for="name" class="form-label">name</label>
          <input type="address" class="form-control" id="name" name="name" required>
        </div>
        <div class="col mb-3">
          <label for="datetime" class="form-label">datetime</label>
          <input type="datetime-local" class="form-control" id="datetime" name="datetime" required>
        </div>
      </div>

      <div class="mb-3">
        <label for="address" class="form-label">pickup/dropoff address</label>
        <div class="input-group mb-3">
          <input type="address" class="form-control" id="address" name="address" required>        
          <input name="address" type="address" class="form-control" id="googleaddress" name="googleaddress" readonly required>

          <button class="btn btn-primary" onclick="get_dis()" type="button">get dis</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="distance" class="form-label">distance</label>
            <input type="number" class="form-control" id="distance" value="0" name="distance" required>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="pickup" class="form-label"> pickup-distance</label>
            <input type="number" class="form-control" id="pickup" value="0" name="pickup" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="address" class="form-label">select car type</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="cartype" id="cartype1" value=5 checked>
              <label class="form-check-label" for="cartype1">
                Sedan - Camry
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="cartype" id="cartype2" value=10>
              <label class="form-check-label" for="cartype2">
                MiniVan - Sienna
              </label>
            </div>
          </div>
        </div>
        <div class="col">
          <label for="triptype" class="form-label">select trip type</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="triptype" id="triptype1" value='dropoff' checked>
            <label class="form-check-label" for="triptype1">
              dropoff
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="triptype" id="triptype2" value="pickup">
            <label class="form-check-label" for="triptype2">
              pickup
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="price" class="form-label">price</label>
            <input type="text" class="form-control" id="price" name="price" required>
          </div>
        </div>
        <div class="col">
          <div id="filghtdiv" class="mb-3">
            <div>
              <label for="flight" class="form-label">flight info</label>
              <input type="text" class="form-control" id="flight" name="flight">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary" type="submit">Submit</button>

        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 id="statuMessage" class="modal-title fs-5" id="exampleModalLabel">预约状况</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <h5>预约信息:</h5>
                    <p id="summaryP"></p>
                  </div>
                  <div class="row">
                    <h5>收据链接:</h5>
                    <a id="invoiceP"></a>
                  </div>

                </div>
                <div class="modal-footer">

                  <button type="button" class="btn btn-primary" onclick="copysummary()">复制预约信息</button>

                  <button type="button" class="btn btn-primary">复制收据链接</button>

                  <a href="/trips" class="btn btn-primary">前往预约汇总</a>

                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </form>

  </div>

  <script>
    (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          } else {
            event.preventDefault();
            sendData();
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()
    const urlParams = new URLSearchParams(window.location.search);
    const trip = urlParams.get('trip');
    var summary = "";
    var api_url = 'book'
    var trip_info = {}
    var flight = $('#flight');
    var _name = $('#name');
    var address = $('#address');
    var googleaddress = $('#googleaddress');
    var distance = $('#distance');
    var pickup = $('#pickup');
    var datetime = $('#datetime');
    var price = $('#price')
    var cartype = $('input[name=cartype]');
    var triptype = $('input[name=triptype]')
    var summaryBtn = $('#summaryBtn')
    var dis_price = 2;
    var pickup_price = 0.5;
    var pickup_free = 6;
    var form = document.querySelector("#book")

    var maplink = 'http://maps.google.com/?q=';


    var getprice = () => {
      var _total = 0;
      var pickup_total = pickup.val() - pickup_free
      _total = dis_price * distance.val() + (pickup_total > 0 ? pickup_total : 0) * pickup_price + parseInt(cartype().val());
      price.val(_total)
    }

    distance.keyup(getprice);
    pickup.keyup(getprice);
    cartype.change(getprice);
    triptype.change(function (e) {
      if (e.target.value == 'dropoff') {
        $('#filghtdiv').hide();
      } else {
        $('#filghtdiv').show();
      }
    })

    if (trip !== null) {
      api_url = 'edit'
      axios.get('/gettrip', { params: { trip: trip } }).then((res) => {
        var data = res.data.trip
        flight.val(data.flight);
        _name.val(data.name);
        address.val(data.address);
        googleaddress.val(data.address);
        distance.val(data.dis);
        pickup.val(data.pickup);
        var t = (new Date(data.datetime + ' UTC')).toISOString().substring(0, 16)
        datetime.val(t);
        price.val(data.total);
        cartype.val([data.type])
        triptype.val([data.triptype])
        trip_info = data;
        date = new Date(data.datetime)
        summary = res.data.summary
        makesummary();
        $('#invoiceP').text('http://' + window.location.host + '/?invoice=' + trip_info.invoice)
        $('#invoiceP').attr('href', 'http://' + window.location.host + '/?invoice=' + trip_info.invoice)

        cartype = (() => { return $('input[name=cartype]:checked') });
        triptype = (() => { return $('input[name=triptype]:checked') });

        if (triptype().val() === 'dropoff')
          $('#filghtdiv').hide()
      })
    } else {
      cartype = (() => { return $('input[name=cartype]:checked') });
      triptype = (() => { return $('input[name=triptype]:checked') });

      if (triptype().val() === 'dropoff')
        $('#filghtdiv').hide()
    }



    var showfee = () => {
      $('#summary').val('具体费用就是出发地到机场最快路程的距离✖️2加上5，需要minivan的话再加5。然后从Lakemont出发 距离出发地(接机的话是目的地)6 miles以内免接程费，超出部分每miles收0.5接的费用。接送费用目前相同')
    }

    var copysummary = () => {
      copyToClipboard('.summaryTaxtarea')
    }
    var makesummary = () => {
      $('.summaryTaxtarea').text(summary)
      $('#summaryP').text(summary)
      summaryBtn.prop('disabled', false)
    }

    var getsummary = () => {
      axios.get('getsummary', { params: { invoice: trip_info.invoice } }).then((res) => {
        summary = res.data.summary;
        makesummary();
      })
    }

    var sendData = () => {
      trip_info.address = googleaddress.val();
      trip_info.dis = distance.val();
      trip_info.pickup = pickup.val();
      trip_info.dis_price = dis_price;
      trip_info.pickup_price = pickup_price;
      trip_info.pickup_free = pickup_free;
      trip_info.type = cartype().val();
      trip_info.total = price.val();
      trip_info.triptype = triptype().val();
      trip_info.datetime = (new Date(datetime.val())).toLocaleString({ timestyle: 'short', hour12: false });
      trip_info.flight = flight.val();
      trip_info.name = _name.val();
      trip_info.nickname = _name.val();
      axios.get(api_url, {
        params: trip_info
      }
      ).then((res) => {
        console.log(res)
        trip_info = res.data.trip;
        if (res.data.statu === 'done') {
          summary = res.data.summary
          makesummary();
          console.log('http://' + window.location.host + '/?invoice=' + trip_info.invoice)
          $('#invoiceP').attr('href', 'http://' + window.location.host + '/?invoice=' + trip_info.invoice)
        }
      })
    }
    function get_dis() {
      axios.get('/price', { params: { start: $('#address').val(), end: "17801 International Blvd, SeaTac, WA 98158" } }).then((res) => {
        googleaddress.val(res.data.address1.address)
        distance.val(res.data.dropoff_dis);
        pickup.val(res.data.pickup_dis);
        getprice();
      })
    }

  </script>
</body>

</html>